    body {
      margin: 0;
      font-family: sans-serif;
    }

    nav { margin-bottom: 20px; }

    nav a {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 10px;
      text-decoration: none;
      color: #fff;
      background-color: #007bff;
      border-radius: 6px;
      transition: background-color 0.3s, transform 0.2s;
    }

    nav a:hover {
      background-color: #0056b3;
      transform: translateY(-2px);
    }

    .container {
      background: #ffffff;
      width: 100%;
      max-width: 720px;
      border-radius: 10px;
    }

    .slider {
      overflow: hidden;
      width: 100%;
    }

    .slider-track {
      display: flex;
      width: calc(200px * 8);
      animation: slideLoop 8s linear infinite;
    }

    .slider-track img {
      width: 200px;
      height: 200px;
    }

    @keyframes slideLoop {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .scale-image img {
      animation: scale 4s infinite;
      width: 300px;
      height: 300px;
    }
    @keyframes scale {
    0% { transform: scale(0.7); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.7); }
    }

    .fade-image img {
      animation: fade 4s infinite;
    }
    @keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 0; }
    }

    .hidden { display: none; }

    .modal {
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-content {
      background: #fff;
      padding: 20px;
    }

    .accordion {
      width: 500px;
    }

    .accordion-header {
      width: 500px;
      cursor: pointer;
    }

    .accordion-content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;
      background: #fff;
    }

    .accordion-content ul {
      margin: 0;
      padding: 10px 20px;
    }

    .accordion-content li {
      list-style: none;
      padding: 5px 0;
    }

    .textarea {
      width:450px;
      resize: none;
    }

    .required {
      color: red;
    }
